RewriteEngine On
RewriteCond %{HTTP_HOST} ^yakuze\.com$
RewriteRule (.*) http://www.yakuze.com/$1 [R=301,L]
RewriteEngine On
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
